html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
body{
    margin: 0px;
    height: 100%;
    width: 100vw;
    padding: 0;
    font-family: 'Roboto Mono', 'Montserrat';
    overflow-x: hidden;
}

.header{
    height: 118px;
    border-bottom: 1px solid black;
    text-align: center;
}

h1{
    margin: 0px;
}

#logo{
    margin-top: 27px;
    margin-bottom: 27px;
}

.dropMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Dropmenu*/
.ansiktkroppBtn, .handerfotterBtn, .ovrigabehandlingarBtn, .prislistaBtn, .omossBtn {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 40px 40px;
    transition: 0.1s;
}

.ansiktkroppBtn:hover, .handerfotterBtn:hover, .ovrigabehandlingarBtn:hover, .prislistaBtn:hover, .omossBtn:hover{
    cursor: pointer;
    color: #6FCF97;
}

.prislistaBtn:hover, .omossBtn:hover{
    text-decoration-line: underline; 
}

.prislistaBtn:hover, .omossBtn:hover{
    cursor: pointer;
}

.arrowDown1, .arrowDown2, .arrowDown3{
    height: 8px;
    width: 8px;
    margin-left: 10px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
    transition: 0.6s;
}


.ansiktekroppContent, .handerfotterContent, .ovrigabehandlingarContent {
    display: none;
    margin-top: 3%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15px);  
    height: 470px;
    width: 999px;
    background-color: white;
    border: #000 1px solid;
    border-radius: 15px;    
    box-shadow: 4px 5px 2px 1px rgba(0,0,0,0.4);
}

.handerfotterContent, .ovrigabehandlingarContent{
    height: 350px;
}


.ansiktkroppBtn:hover + .ansiktekroppContent, .handerfotterBtn:hover + .handerfotterContent,
.ovrigabehandlingarBtn:hover + .ovrigabehandlingarContent {
    display: block;
    position: absolute;
    z-index: 5;
}

.ansiktekroppContent:hover, .handerfotterContent:hover, .ovrigabehandlingarContent:hover{
    display: block;
}


#miljomysig{
    margin-top: 20px;
    height: 334px;
    width: 100%;
    object-fit: cover;
}

/* Dropmenu content*/
.ansikteDiv, .kroppDiv, .ansiktekroppDiv{
    float: left;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.handerfotterDiv, .ovrigabehandlingarDiv{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 280px;
    padding-left: 3%;
}

/* Dropmenu Title*/
.ansikteDiv_title, .kroppDiv_title, .ansiktekroppDiv_title, .handerfotterDiv_title, .ovrigabehandlingarDiv_title{
    color: #687371;
    font-size: 24px;
    width: 280px;
    padding-bottom: 5px;
    margin: 30px 0px 0px;

}
.ansikteDiv_title, .kroppDiv_title, .ansiktekroppDiv_title{
    transform: translateX(11%);
}

.handerfotterDiv_title{
    transform: translateX(1%);
}

.ansikteDiv_line, .kroppDiv_line, .ansiktekroppDiv_line, .handerfotterDiv_line, .ovrigabehandlingarDiv_line{
    height: 1px;
    width: 280px;
    margin: 0px auto 0px;
    background-color: #969696;
}

/*DropNav Links*/
.ansikteDiv_links, .kroppDiv_links, .ansiktekroppDiv_links{
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding-left: 10%;
}

.handerfotterDiv_links, .ovrigabehandlingarDiv_links{
    margin-top: 16px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding-left: 3%;
}

.ansikteDiv_links:hover, .kroppDiv_links:hover, .ansiktekroppDiv_links:hover, .handerfotterDiv_links:hover, .ovrigabehandlingarDiv_links:hover{
    color: #6FCF97;
} 

.erbjudande{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #ffffff;
    font-weight: bold   ;
}

.footErbjudande_div, .blommaErbjudande_div{
    border-radius: 5px;
    height: 200px;
    width: 600px;
    transform: translate(56%, -28%);
    transition: 0.5s;   
}
.blommaErbjudande_div{
    transform: translate(56%, -65%);
}

#footErbjudande_img, #blommaErbjudande_img{
    border-radius: 5px;
}
.blommaErbjudande_div:hover, .footErbjudande_div:hover{
    cursor: pointer;
    filter: grayscale(40%);
}

.exampleText1{
    text-align: center;
    width: 100%;
    margin: 0px auto 0px;
}

#header1{
    margin: 40px auto 0px;
    font-size: 40px;
    color: #8A8A8A;
    font-weight: bold;
}

#middleText1{
    margin: 30px auto 40px;
    font-size: 20px;
    color: #979797;
}

#lastText1{
    font-size: 14px;
    font-family: 'Montserrat';
}

/* Ad/Reklam */
.adContainer{
    display: flex;
    min-height: 730px;
    width: 100vw;
    margin-top: 200px;  
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-image: url(/img/Stone.jpg);
    background-position: center;
    background-size: cover;
}

.LeftAdDiv{
    width: 444px;
    height: 520px;
}
.RightAdDiv{
    width: 444px;
    height: 520px;  
}
#adLeftImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 15px;
    transition: 0.6s;
}
.adLeftTextDiv{
    position: absolute;
    z-index: 1;
    color: #6FCF97;
    width: 400px;
    transform: translate(5%, -115%);
}
#adLeftHeader{
    font-size: 40px;
}
#adLeftText{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 15px;
}
#adLeftText2{
    color: #ffffff;
    font-size: 20px;
}
#adRightImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    border-radius: 15px;
    transition: 0.6s;
}
.adRightTextDiv{
    position: absolute;
    z-index: 1;
    color: #6FCF97;
    width: 400px;
    transform: translate(5%, -120%);
}
#adRightHeader{
    font-size: 40px;
}
#adRightText{
    color: #ffffff;
    font-size: 20px;
}
#adRightText2{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
}

/* Footer */
footer {
    display: flex;
    margin-top: 150px;
    height: 300px;
    background-color: #687371;
    color: white;
    justify-content: space-evenly;
}


.kontaktText, .oppettiderText, .socialMediaText{
    transform: translateY(40px);
}

#mapLink{
    color: #6FCF97;
}
#mapLink:hover{
    color: #000;
}

#facebookIcon, #instagramIcon{
    height: 50px;
    width: 50px;
}
#facebookIcon{
    transform: translateX(10px);
    transition: 0.2s;
}
#instagramIcon{
    transform: translateX(35px);
    transition: 0.2s;
}

#footerTextDeco{
    text-decoration: underline;
}

#facebookIcon:hover{
    cursor: pointer;
    filter: brightness(70%);
}
#instagramIcon:hover{
    cursor: pointer;
    filter: brightness(70%);
}
@media screen and (min-width: 1200px){
    #menu, .mobileLinks, .mobileLinks > a, .rightArrow, .leftFooter-Mobile, .rightFooter-Mobile{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .header{
        border-bottom: none;
    }
    #menu{
        display: block;
        height: 50px;
        width: 50px;
        transform: translate(50%, -160%);
        transition: 0.2s;
    }
    .mobileLinks{
        display: none;
        height: 500px;
        width: 90vw;
        border: 1px solid #000;
        z-index: 1;
        position: absolute;
        background-color: #ffffff;
        border-radius: 15px;
        transform: translateX(5%);
    }
    .mobileLinks > a{
        display: block;
        text-decoration: none;
        padding-top: 28.3px;
        padding-bottom: 28.3px;
        padding-left: 2%;
        font-size: 20px;
        color: #000;
        border-bottom: 1px solid #000;
    }
    .mobileLinks > a:last-child{
        border-bottom: none;
    }
    #menu:hover{
        cursor: pointer;
        filter: opacity(70%);
    }
    .rightArrow{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); 
        float: right;
        margin-right: 40px;
        margin-top: 11px;
    }
    .dropMenu, .kontakt, .oppettider, .socialMedia{
        display: none;
    }
    .adContainer{
        background-image: none;
        flex-direction: column;
        margin-top: 100px;
        min-width: 100vw;
    }
    #adRightImg{
        margin-top: 100px;
    }
    .leftFooter-Mobile, .rightFooter-Mobile{
        width: 50%;
        margin: 10px;
        margin-left: 10px;
    }
    /* .rightFooter-Mobile{
        width: 50%;
        margin-top: 10px;
    } */
    .leftFooter-Mobile > h1, .rightFooter-Mobile > h1{
        font-size: 25px;
    }

}


@media screen and (max-width: 810px){ 
    #lastText1{
        display: none
    }

    #middleText1{
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*.LeftAdDiv #adLeftImg .adLeftTextDiv*/
/* @media screen and (max-width: 445px){ 
    .LeftAdDiv{
        width: 100vw;
    }
    #adLeftImg{
        width: 100vw;
    }
    .adLeftTextDiv{
        width: 100%;
    }

} */
@media screen and (max-width: 350px){ 
    .rightArrow{
        display: none;
    }
}
